body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.StickyNotes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 1024px;
  min-height: 768px;
  height: 100vh;
  padding: 16px;
}

.Board {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: #eaeaea;
  overflow: hidden;
}

.Sticker {
  position: absolute;
  min-width: 160px;
  min-height: 160px;
  box-shadow: 4px 4px 8px #aaaaaa;
  background-color: #ececcc;
  resize: both;
  overflow: auto;
  z-index: 100;
}

.Sticker .draggable {
  user-select: none;
  padding: 4px 8px;
  cursor: grab;
  color: #7c7c7c;
  background-color: #dcdcbc;
}

.dropZone {
  position: relative;
  align-self: flex-end;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #cecece;
  color: #5c5c5c;
  z-index: 0;
}

.dropZone.active {
  background-color: #aaaaee;
}

.new-sticker {
  position: absolute;
  background-color: #aaaaee;
}