.StickyNotes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 1024px;
  min-height: 768px;
  height: 100vh;
  padding: 16px;
}

.Controls {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 8px;
}

.Stickers {
  position: relative;
  flex-grow: 1;
  margin-top: 16px;
  background-color: #eaeaea;
  overflow: hidden;
}

.Sticker {
  position: absolute;
  box-shadow: 4px 4px 8px #aaaaaa;
  background-color: #ececcc;
  resize: both;
}

.Sticker .draggable {
  user-select: none;
  padding: 4px 8px;
  cursor: grab;
  color: #7c7c7c;
  background-color: #dcdcbc;
}